/*html elements */
body{
    background-color: #A47DAB;
}
pre{
    background-color: #333;
}
code{
    padding:15px;
    font-weight: bold;
    color: #57f2ff;
}
hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    border-radius: 20px;
  }
  
  hr::before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
meter{
width: 200px;
height: 50px;
border-radius: 10%;
}
button{
    border-radius: 5px;
    width:8em;
    height:3em;
}
/* Font Families */
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.zen-dots-regular {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.kedebideri-bold {
    font-family: "Kedebideri", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.notable-regular {
font-family: "Notable", sans-serif;
font-weight: 400;
font-style: normal;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
/* Page Layout */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-header{
    grid-column:1/span 2;
    padding:2rem;
    text-align: center;
    color:#57f2ff;
    background-color: #773399;
    border: double 15px #57f2ff;
    position: relative;
    overflow: hidden;
}
.grid-item{
    background-color: lightblue;
    padding: 1em;
    border: 1px solid blue;
}

.grid-column-left{
    background-color:lightgreen;
    padding: 20px;
}
/* Layout Styling */
.grid-header h1{
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: yellow;

    position: absolute;
    left:55%;
    top: 45%;
    transform: translate(-50%, -50%);

    text-shadow:
        1px 2px 2px #ff66e9,
        0 .3em .7em black;
    opacity: .80;
    z-index: 1;
    pointer-events: none;
}

.grid-container-span{
    z-index:auto;
}
/* Nav Menu - Toggle  Styling */
#menuToggle{
    display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
    position: absolute;
    top: 50px;
    left: 50px;
  
    z-index: 1;
  
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color: #FFFFE3;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #a3fa02;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
    font-family:Anton, sans-serif;
    position: absolute;
    max-width: 200px;
    width: 100vw;
    max-height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 20px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #A47DAB;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 15px 0;
    font-size: 22px;
    text-align: left;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Image Styling */
.skeletor-image{
    display:block;
    float:left;
    width: 15%;
    height: auto;
    margin-left: 20%;
    shape-outside: circle(50%);
    clip-path: ellipse(75% 100% at 50% 100%);
    border: solid 10px black;
}
.skeletor-meme{
    display: block;
    width: 35%;
}
/* General Styling - can use wherever*/
.round-corners{
    border-radius: 5px;
}
.highlight{
    color:#ff66e9;
}
.animate-this{
    margin: auto;
    height: 400px;
    width: 400px;
    animation: 
        pulse 3s ease infinite alternate, 
        nudge 5s linear infinite alternate;
    overflow: hidden;
    position:relative;
    }

    @keyframes pulse {
    0%, 100% {
        background-color: black;
    }
    50% {
        background-color: #ff66e9;
    }
    }

    @keyframes nudge {
    0%, 100% {
        transform: translate(0, 0);
    }
    
    50% {
        transform: translate(150px, 0);
    }
    
    80% {
        transform: translate(-150px, 0);
    }
}

.tenor-gif-embed{
    height: 100%;
    width: 100%;
}
.meter_percent{
    font-size:large;
    color:#a3fa02;
}

.blocked_image{
    display:block;
    position: relative;
    width: 350px;
    height: 300px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    border: solid 2px white;
}
#progress{
    width: 200px;
    height: 200px;
    z-index:2;
    border: solid 2px white;
}
