body{
    background-color: #A47DAB;
}
pre{
    background-color: #333;
}
code{
    padding:15px;
    font-weight: bold;
    color: #57f2ff;
}
hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    border-radius: 20px;
  }
  
  hr::before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.zen-dots-regular {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.kedebideri-bold {
    font-family: "Kedebideri", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.notable-regular {
font-family: "Notable", sans-serif;
font-weight: 400;
font-style: normal;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-header{
    grid-column:1/span 2;
    padding:2rem;
    text-align: center;
    color:#57f2ff;
    background-color: #773399;
    border: double 15px #57f2ff;
    position: relative;
    overflow: hidden;
}

.grid-header h1{
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: yellow;

    position: absolute;
    left:55%;
    top: 45%;
    transform: translate(-50%, -50%);

    text-shadow:
        1px 2px 2px #ff66e9,
        0 .3em .7em black;
    opacity: .80;
    z-index: 1;
    pointer-events: none;
}

.grid-container-span{
    z-index:auto;
}
.grid-item{
    background-color: lightblue;
    padding: 1em;
    border: 1px solid blue;
}

.grid-column-left{
    background-color:lightgreen;
    padding: 20px;
}

.skeletor-image{
    display:block;
    float:left;
    width: 15%;
    height: auto;
    margin-left: 20%;
    shape-outside: circle(50%);
    clip-path: ellipse(75% 100% at 50% 100%);
    border: solid 10px black;
}
.skeletor-meme{
    display: block;
    width: 35%;
}
.round-corners{
    border-radius: 5px;
}
.highlight{
    color:#ff66e9;
}